<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Doctor | Dashboard</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body class="jumbotron text-center bg-dark">
  <div class="jumbotron bg-dark">


    <h1 class="text-info display-3">Medi<span class="text-secondary">Chain</span> </h1>

    <!-- Navbar Starts here -->
    <nav class="navbar navbar-expand-sm bg-dark navbar-light btn btn-outline-info">
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a class="nav-link text-info" href="/">Medichain | Home</a>
                </li>
                    <li class="nav-item ">
                        <a class="nav-link text-info" href="/doctor/doctordashboard">Home</a>
                    </li>
                    <li class="nav-item ">
                      <a class="nav-link text-info" href="/doctor/addpatient"> Add Patient</a>
                  </li>
                    <li class="nav-item ">
                        <a class="nav-link text-info" href="/doctor/addtreatment"> Add Patient Treatment</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-info" href="/doctor/searchtreatment" >Search Treatment </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link text-info" href="/doctor/searchpatient"> Search Patient </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link text-white" href="/doctor/searchdoctor">Search Doctor </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-info" href="/doctor/searchhospital">Search Hospital </a>
                    </li>
                    
            </ul>
    </nav>
    <!-- End Of Navbar -->
    <br> <br>
    <div class="jumbotron bg-dark border border-info">
      
      <br>
      <form action="/doctor/getdoctor" method="GET">
        <input type="text" name="Id" placeholder="Doctor Id" />
        <button class="btn btn-info text-white" type="submit">Search</button>
      </form>
    </div>
  </div>
</body>

</html>